{% extends 'sneakersinfo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>The sneakers order information system is a system which integrates CRUD of shoes type, publish year, country,
        agency, company, sneakers and orders. Its codes are based on the course info management taught in 590 WFO. And
        the database is designed by Yisheng Sun and the codes are adapted by Yisheng Sun too.</p>
    </div>
  </div>
{% endblock %}
