{% extends 'sneakersinfo/base.html' %}

{% block title %}
    Error Deleting Company
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Company</h2>
        <p>You may not delete company {{ company }}. This
        company is currently assigned to the following
        sneakers:
        </p>

        <ul>
            {% for sneakers in sneakers %}
            <li><a href="{{ sneakers.get_absolute_url }}">{{ sneakers }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'sneakersinfo_company_list_urlpattern' %}">Company List</a>
        </p>
    </div>
{% endblock %}